/* Body styling */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    text-align: center;
    margin: 20px;
}
/* Heading styling */
h1{
    color:black;
    margin-bottom: 30px;
}
/* Product Box styling */
.product-box {
    background-color: white;
    width: 300px;
    margin:0 auto;
    padding: 15px;
    border: 2px solid grey;
    border-radius:10px;
}

/* Product Image */
.product-box img{
    width:90%;
    height:auto;
    border-radius: 5px;
    border: none;
}

/* Product Title */
.product-box h2{
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 10px;
    border:none;
    width: auto;
}
/* Product Description */
.description{
    color:dimgray;
    font-size: 14px;
    margin: 10px 0;
}

/* Product Price */
#price{
    color:darkslategrey;
    font-weight: bolder;
    margin-bottom: 15px;
}

/* Button Styling */
button{
    background-color:black;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 8px;

}

/* Button Hover */
button:hover{
    background-color:slategrey;
}