/* Body styling */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    text-align: center;
    margin: 20px;
}
/* Heading styling */
h1{
    color:black;
    margin-bottom: 30px;
}
