body{
    background-color:antiquewhite;
}
.sdata{
    width:1400px;
   height:400px ;
    border: 3px solid black;
    margin-left: 4%;
    margin-top: 10%;
      display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap:40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    
}
.sinfo{
