/*general styling*/
body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;

}
/*block example*/
.block-menu a{
    display: block;
    background-color: antiquewhite;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration:none;
}

/*Inline Elements*/
.inline-menu a {
    display: inline;
    background-color: bisque;
    padding: 5px;
    margin:5px;
    text-decoration: none;
}